{% extends "base.html" %}
{% load custom_tags  %}

{% block content %}
      {% include 'nav.html' %}
    <br>    <br>    <br>
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Order Summary</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>
        </tr>
        </thead>
        <tbody>
    {% for item, quantity in object.items %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href='{% url 'product' item.slug %}'>{{ item.title }}</a></td>
            <td>{{ item.price }}</td>
            <td >
                <a href={{ item.get_reduce_from_cart_url }} class='mr-2'> <span class="material-icons">remove_circle</span></a>
                <b>
                {{ quantity }}

                </b>
                <a href="{{ item.get_add_to_cart_url }}" class='ml-2'><span class="material-icons">add_circle</span></a>
            </td>
            <td>
            {% if item.discount_price %}
                ${{ item|get_total_discount_item_price:quantity|floatformat:2}}
                <span class="badge badge-primary">Saving ${{ item|get_amount_saved:quantity|floatformat:2 }}</span>
            {% else %}
                ${{ item|get_total_item_price:quantity|floatformat:2 }}
            {% endif %}
            <a style='color: red;' href="{{ item.get_remove_from_cart_url }}">
            <span class="material-icons ml-3">delete</span>
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Your cart is empty</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
    {% endfor %}
        {% if object.coupon %}
        <tr>
            <td colspan="4"><b>Coupon</b></td>
            <td><b>-${{ object.coupon.amount }}</b></td>
        </tr>
        {% endif %}
        {% if object.get_total %}
        <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><b>${{ object.get_total }}</b></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href='/checkout/'>Proceed to checkout</a>
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>
  </main>

    <br>    <br>    <br>
  
{% endblock content %}

